.weatherDataCont {
    background-color: aqua;
    width: 93%;
    height: 100px;
    line-height: 100px;
    border-radius:  5px;
    margin: 15px;
    padding: 5px;
    box-sizing: border-box;
}

.watherExtraInfoCont{
    width: 40%;
    display: inline-block;
    line-height: 28px;
    text-align: left;
}

.weatherTemperatureCont  {  
    width: 60%;
    display: inline-block;
}

.temperature {
    font-size: 50px;
    font-weight: bolder;
    padding-left: 10px;
    color: #3300FF;    
}

.temperatureType {
    font-size: 25px;
    font-weight: bolder;
    color: #3300FF;
}

.extraInfoText {
    display: block;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.wicon {
    color: indigo;
    padding-top: 5px;
    padding-left: 10px;
}